
.inputDisplay{
    display: block;
  }
  
  .buttondelete{
    background-color: red;
    color: white;
  
  }

  .buttonsave{
    background-color: #117ACA;
    color: white;
  
  }
  .buttonmargin {
    margin :7% 0 0 10%;
    height: 40px;
    width: 30%;
  }